<footer class="footer text-center m-0 w-100 d-flex align-items-center justify-content-center">
    <div class=" container m-0 ">
        <div class="row justify-content-center m-0  d-flex align-items-center ">
            <div class="col-lg-4 mb-5 mb-lg-0 col-sm-12 px-3 m-0  ">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">2215 John Daniel Drive Lorem, ipsum dolor.<br>Clark, MO 65243</p>
            </div>
            <div class="sec2 col-lg-4 col-sm-12 mb-5 mb-lg-0 px-3 m-0 ">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-2" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-2" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-social mx-2" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-2" href=""><i class="fab fa-dribbble"></i></a>
            </div>
            <div class="col-lg-4 col-sm-12 sec3 p-0 m-0  px-3">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by.</p>
            </div>
        </div>
    </div>
</footer>

<div class="copyright py-4 text-center text-white">
    <div class=" container">
        <small>Copyright © Your Website 2021</small>
    </div>
</div>
