<section class="about text-white mb-0" id="about">

    <div class=" container">

        <h2 class=" text-center text-uppercase text-white mb-4 fw-bolder">About</h2>

        <div class="staricon d-flex align-items-center justify-content-center mb-5">
            <div class="staricon line"></div>
            <i class="fas fa-star fs-2 mx-3"></i>
            <div class="staricon line"></div>
        </div>

        <div class="row justify-content-center">

            <div class="col-12 ">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>

            <div class="col-12 ">
                <p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
            </div>
        </div>
    </div>

</section>
