<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3 fixed-top ">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand ps-5 fs-4" routerLink="" href="#">START ANGULAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse navhalf2">
          <a class="nav-link text-white active" aria-current="page" (click)="replace()" [class.active]="isClicked"  routerLink="portfolio" href="#">PORTFOLIO</a>
          <a class="nav-link text-white" routerLink="about" (click)="replace1()" [class.active]="isClicked1" href="#">ABOUT</a>
          <a class="nav-link text-white " routerLink="contact" (click)="replace2()" [class.active]="isClicked2"  href="#">CONTACT</a>


      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-md bg-light navbar-dark">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="navbar-brand text-white text-start m-0 w-50 fs-4  " routerLink="" href="#">START ANGULAR</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav d-flex w-50 align-items-lg-center justify-content-lg-evenly  ">
          <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" (click)="replace()" [class.active]="isClicked"  routerLink="portfolio" href="#">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="about" (click)="replace1()" [class.active]="isClicked1" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " routerLink="contact" (click)="replace2()" [class.active]="isClicked2"  href="#">CONTACT</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
